/* .squares-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
} */


.squares-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

